body{
    background: linear-gradient(135deg,#0f172a,#1e293b);
    font-family: Arial;
    color:white;
    padding:20px;
}

.card{
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    border-radius:15px;
    padding:20px;
    box-shadow: 0 0 25px rgba(0,255,255,0.3);
}

table{
    width:100%;
    border-collapse: collapse;
}

th,td{
    padding:10px;
    text-align:center;
}

.btn{
    padding:8px 14px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    background:#0ff;
    color:black;
    text-decoration:none;
    margin:4px;
}

input{
    width:100%;
    padding:8px;
    margin:6px 0;
}
